@charset "utf-8";
/*
[name]橙色[/name]
[iconbgcolor]#ff8208[/iconbgcolor]
name：E云网
Powered by YingxiangCEO.com
*/

a:hover{color:#e77608;}
#toptb{background:#e77608;}
#toptb a{ color: #fff;}
#hd{background:#ff8208;}
#nv li:hover{background:#e77608;}
#hd #scbar {background:#e77608;}
#scbar_type{background:url(scbar_type.png) no-repeat 45px 13px #e77608;color:#fdd6af;}
#scbar #scbar_txt{background:#e77608;}
#um i.arrow-w{background:url(um_arrow.png) 0 0 no-repeat;}
#umLogin_menu a { color: #333;}
#scbar_btn {background:#e77608 url(scbar_btn.png) center center no-repeat;}
#hd .p_pop.h_pop,.hot_act .act_item a:hover,#fwin_nav .pn.pnc,#comment .ptn .pn,.esMod .hd li.on,.hot_act .act_item a,.pages a:hover,.pages span{background:#ff8208;}
#hd .p_pop.h_pop a{border-bottom-color:#e77608;}

.sd_btn a.post_btn,.listTit .post_btn,.xr_list .ttp .a span,.xr_guide .ttp li.a a,#fwin_content_login .rfm .pn.pnc,#main_message .rfm .pn.pnc{background-color:#ff8208;}
#hd .p_pop.h_pop a:hover,.listTit h1,.tl_tit .views.y,.xr_waterfall li:hover,.xr_waterfall li .desc em,.category_newlist li a:hover,.listTit a:hover,.tl_tit h3 em a:hover,.tl_tit h3 a.xst:hover,.tl_txt a:hover,.xr_article_list .xld li h3 a:hover,.newest li h3 .forumname,#um .um_info a:hover,#um .um_op a:hover{color:#ff8208;}
#comment .ptn .pn:hover,.sd_btn a.post_btn:hover,.listTit .post_btn:hover,#fwin_nav .pn.pnc:hover,#fwin_content_login .rfm .pn.pnc:hover,#main_message .rfm .pn.pnc:hover{background-color:#e77608;}

.sd_btn a.signin{background-image: url(sd_btn.png);color:#999 !important;}
.xr_tl #fd_page_bottom .pg strong,.xr_tl #fd_page_bottom .pg a:hover,.pgt .pg strong,.pgt .pg a:hover,.pgs .pg strong,.pgs .pg a:hover{background:#ff8208;border-color:#ff8208;}
#fastpostsubmit,#postsubmit.pn.pnc,#nv_portal.pg_portalcp #ct #issuance.pn.pnc{background-color:#ff8208;}

/* 重定义按钮 */
.pgs #newspecial, .pgs #newspecialtmp { float: left; background: url(pn_post.png) no-repeat 0 0; }
#post_reply, #post_replytmp { float: left; background: url(pn_reply.png) no-repeat 0 0; }
.sd_btn a.post_btn{background-color:#ff8208;border:solid 1px #e77608;}

.ranking-list li .bgcolor {background: #ff8208;}
.ceo_portal_slide .slidebar li.on{background:#ff8208;}
.ceo_article_list .xld li h3 a:hover{color:#ff8208;}
.ceo_tl #fd_page_bottom .pg strong,.ceo_tl #fd_page_bottom .pg a:hover,.pgt .pg strong,.pgt .pg a:hover,.pgs .pg strong,.pgs .pg a:hover{background: #ff8208;border-color: #ff8208; color: #fff;}


