<!--{template common/header}-->
<style id="diy_style" type="text/css">#frameC35hBv {  border:0px none !important;}#frameRe8jky {  border:0px none !important;}#portal_block_52 {  border:0px none !important;}#frameQFq7D8 {  border:0px none !important;}#portal_block_53 {  border:0px none !important;}#frameA2FJGf {  border:0px none !important;}#portal_block_54 {  border:0px none !important;}#frameTKJJY0 {  border:0px none !important;}#portal_block_55 {  border:0px none !important;}#framehG3Xzi {  border:0px none !important;}#frameywh5KV {  border:0px none !important;}#portal_block_56 {  border:0px none !important;}</style>
<div class="wp cl mtw">
<div class="col0 z">
    <div id="page-channel"><ul><!--[diy=diy_letnav]--><div id="diy_letnav" class="area"><div id="frameub1EbS" class="frame move-span cl frame-1"><div id="frameub1EbS_left" class="column frame-1-c"><div id="frameub1EbS_left_temp" class="move-span temp"></div><!--{block/61}--></div></div></div><!--[/diy]--></ul></div>
</div>
<div class="col1 z">
	<div class="portal_picslide bp"><!--[diy=diy1]--><div id="diy1" class="area"><div id="frameRe8jky" class="cl_frame_bm frame move-span cl frame-1"><div id="frameRe8jky_left" class="column frame-1-c"><div id="frameRe8jky_left_temp" class="move-span temp"></div><!--{block/57}--></div></div></div><!--[/diy]--></div>
    <!--[diy=diy_ad01]--><div id="diy_ad01" class="area"></div><!--[/diy]-->
    <!--{template ceo/toutiao}-->

</div>
<div class="col2 y">
	<div class="sd_btn bp"><!--[diy=diy_sd_btn]--><div id="diy_sd_btn" class="area"><div id="framezDRr0Q" class="frame move-span cl frame-1"><div id="framezDRr0Q_left" class="column frame-1-c"><div id="framezDRr0Q_left_temp" class="move-span temp"></div><!--{block/59}--></div></div></div><!--[/diy]--></div>
	<div class="mbm"><!--[diy=diy_ad11]--><div id="diy_ad11" class="area"></div><!--[/diy]--></div>
	<div class="ceo_forum_hot bp"><!--[diy=diy3]--><div id="diy3" class="area"><div id="frameA2FJGf" class="cl_frame_bm frame move-span cl frame-1"><div id="frameA2FJGf_left" class="column frame-1-c"><div id="frameA2FJGf_left_temp" class="move-span temp"></div><!--{block/54}--></div></div></div><!--[/diy]--></div>
	<div class="mbm"><!--[diy=diy_ad12]--><div id="diy_ad12" class="area"></div><!--[/diy]--></div>
	<div class="ceo_thread_top bp"><!--[diy=diy2]--><div id="diy2" class="area"><div id="frameQFq7D8" class="cl_frame_bm frame move-span cl frame-1"><div id="frameQFq7D8_left" class="column frame-1-c"><div id="frameQFq7D8_left_temp" class="move-span temp"></div><!--{block/53}--></div></div></div><!--[/diy]--></div>
	<div class="mbm"><!--[diy=diy_ad13]--><div id="diy_ad13" class="area"></div><!--[/diy]--></div>
	<div class="ceo_act_hot bp"><!--[diy=diy10]--><div id="diy10" class="area"><div id="frameywh5KV" class="cl_frame_bm frame move-span cl frame-1"><div id="frameywh5KV_left" class="column frame-1-c"><div id="frameywh5KV_left_temp" class="move-span temp"></div><!--{block/56}--></div></div></div><!--[/diy]--></div>
	<div class="mbm"><!--[diy=diy_ad14]--><div id="diy_ad14" class="area"></div><!--[/diy]--></div>
	<div class="ceo_rep_hot bp"><!--[diy=diy8]--><div id="diy8" class="area"><div id="framehG3Xzi" class="cl_frame_bm frame move-span cl frame-1"><div id="framehG3Xzi_left" class="column frame-1-c"><div id="framehG3Xzi_left_temp" class="move-span temp"></div><!--{block/58}--></div></div></div><!--[/diy]--></div>
	<div class="mbm"><!--[diy=diy_ad15]--><div id="diy_ad15" class="area"></div><!--[/diy]--></div>
	<div class="ceo_users bp"><!--[diy=diy4]--><div id="diy4" class="area"><div id="frameTKJJY0" class="cl_frame_bm frame move-span cl frame-1"><div id="frameTKJJY0_left" class="column frame-1-c"><div id="frameTKJJY0_left_temp" class="move-span temp"></div><!--{block/55}--></div></div></div><!--[/diy]--></div>
	<div class="mbm"><!--[diy=diy_ad16]--><div id="diy_ad16" class="area"></div><!--[/diy]--></div>
	<div class="ceo_portal_slide bp"><!--[diy=diy5]--><div id="diy5" class="area"><div id="frameC35hBv" class="cl_frame_bm frame move-span cl frame-1"><div id="frameC35hBv_left" class="column frame-1-c"><div id="frameC35hBv_left_temp" class="move-span temp"></div><!--{block/52}--></div></div></div><!--[/diy]--></div>
	<div class="mbm"><!--[diy=diy_ad17]--><div id="diy_ad17" class="area"></div><!--[/diy]--></div>
	<div class="ceo_follow bp"><!--[diy=diy6]--><div id="diy6" class="area"><div id="frameIhc3hH" class="frame move-span cl frame-1"><div id="frameIhc3hH_left" class="column frame-1-c"><div id="frameIhc3hH_left_temp" class="move-span temp"></div><!--{block/60}--></div></div></div><!--[/diy]--></div>
	<div class="mbm"><!--[diy=diy_ad18]--><div id="diy_ad18" class="area"></div><!--[/diy]--></div>
</div>
</div>
<script>
jQuery(".picFocus").slide({ mainCell:".bd ul",effect:"left",autoPlay:true });

jQuery(".ceo_scroll").slide({ mainCell:".bd ul", effect:"left", delayTime:800,vis:4,scroll:4,pnLoop:false,trigger:"click",easing:"easeOutCubic" });
jQuery(".ceo_scroll li").hover(function(){
jQuery(this).find(".ceoInfo").animate({height:'158px'}, 200);
},function(){
jQuery(this).find(".ceoInfo").animate({height:'40px'}, 200);
})

jQuery(".ceo_rep_hot").slide( { mainCell:".ceo_rep_hotboxs ul",autoPage:true,effect:"topLoop",autoPlay:true,vis:4,easing:"easeOutCirc"});

jQuery(".slideBox").slide({titCell:".slidebar li",mainCell:".slideshow",effect:"left",autoPlay:true});
jQuery(".slideshow li").hover(function(){
jQuery(".slideshow li").find("h3").slideDown();
}, function(){jQuery(".slideshow li").find("h3").slideUp();});

var ceo_follow = jQuery('.ceo_follow').offset().top;

</script>

<!-- Baidu Button BEGIN -->
<script type="text/javascript" id="bdshare_js" data="type=tools&mini=1" ></script> 
<script type="text/javascript" id="bdshell_js"></script> 
<script type="text/javascript">
var bds_config = {};
document.getElementById('bdshell_js').src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
</script>
<!-- Baidu Button END -->

<!--{template common/footer}-->
