<!--{template common/header}-->
<script type="text/javascript">var fid = parseInt('$_G[fid]'), tid = parseInt('$_G[tid]');</script>
<!--{if $modmenu['thread'] || $modmenu['post']}-->
	<script type="text/javascript" src="{$_G['setting']['jspath']}forum_moderate.js?{VERHASH}"></script>
<!--{/if}-->

<script type="text/javascript" src="{$_G['setting']['jspath']}forum_viewthread.js?{VERHASH}"></script>
<script type="text/javascript">zoomstatus = parseInt($_G['setting']['zoomstatus']);var imagemaxwidth = '{$_G['setting']['imagemaxwidth']}';var aimgcount = new Array();</script>

<!--frame_main-->
<div class="frame_main public_width font_yahei text">

<!--{template common/left_menu}-->
	<div class="left">
    
    <!--Author_info-->
    	<div class="Author_info">
        	<a href="home.php?mod=auther&uid=$thread[authorid]" target="_blank"><img class="img" src="uc_server/avatar.php?uid={$thread[authorid]}&size=middle"></a>
        	<div class="info_tag">
            	<p class="name"><a href="home.php?mod=auther&uid=$thread[authorid]">$thread[author]</a></p>
                <p class="autograph">$auither_jianjie</p>
                <p class="Subscribe">
                <!--{if $dingyuele}-->
         <a class="follow on" href="javascript:;" >已订阅</a>
    
       <!--{else}-->
        <a href="home.php?mod=auther&uid=$thread['authorid']" {if $_G['uid']}onClick="dingyue($thread['authorid'],this)"{else} onclick="showWindow('login', this.href)"{/if}>订阅</a>
       <!--{/if}-->
                </p>
            </div>
            <ul>
            
            	<!--{loop $auither_arc_list $v}-->
            	<li <!--{if $v[tid]==$thread['tid']}-->class="on"<!--{/if}-->><a href="forum.php?mod=viewthread&tid=$v[tid]"><span>$v[subject]</a></span></li>
                <!--{/loop}-->
                
                
            </ul>
        </div>
    <!--Author_info END-->
    
    
    
   
    <!--{template common/left_article}-->
    

    </div>
    
    <div class="right">
        <div class="public_position"><a href="/">首页</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="forum.php?mod=forumdisplay&fid=$_G['forum']['fid']">$_G['forum']['name']</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;正文</div>
        <div class="details_main">
        	<h1>$thread[subject]</h1>
            <p class="details_author"><a href="home.php?mod=auther&uid=$thread[authorid]"><img src="uc_server/avatar.php?uid={$thread[authorid]}&size=middle">$thread[author]</a><span class="time">$thread['dateline']</span>
             {if $threadsortshow['optionlist']['laiyuan']['value']}<span>来源：$threadsortshow['optionlist']['laiyuan']['value']</span>{/if}
            </p>
            <!--{if (($_G['forum']['ismoderator'] && $_G['group']['alloweditpost'] && (!in_array($post['adminid'], array(1, 2, 3)) || $_G['adminid'] <= $post['adminid'])) || ($_G['forum']['alloweditpost'] && $_G['uid'] && ($post['authorid'] == $_G['uid'] && $_G['forum_thread']['closed'] == 0) && !(!$alloweditpost_status && $edittimelimit && TIMESTAMP - $post['dbdateline'] > $edittimelimit)))}-->
						
                     
                        <!--{if $modmenu['thread']}-->
	<div id="modmenu" class="xi2 pbm">
    <!--{if (($_G['forum']['ismoderator'] && $_G['group']['alloweditpost'] && (!in_array($post['adminid']) || $_G['adminid'] <= $post['adminid'])) || ($_G['forum']['alloweditpost'] && $_G['uid'] && ($post['authorid'] == $_G['uid'] && $_G['forum_thread']['closed'] == 0) && !(!$alloweditpost_status && $edittimelimit && TIMESTAMP - $post['dbdateline'] > $edittimelimit)))}-->
						<a  href="forum.php?mod=post&action=edit&fid=$_G[fid]&tid=$_G[tid]&pid=$thread['pid']{if !empty($_GET[modthreadkey])}&modthreadkey=$_GET[modthreadkey]{/if}&page=$page"><!--{if $_G['forum_thread']['special'] == 2 && !$post['message']}-->{lang post_add_aboutcounter}<span class="pipe">|</span><!--{else}-->{lang edit}</a><span class="pipe">|</span><!--{/if}--><!--{/if}-->
		<!--{eval $modopt=0;}-->
		<!--{if $_G['forum']['ismoderator']}-->
			<!--{if $_G['group']['allowdelpost']}--><!--{eval $modopt++}--><a href="javascript:;" onclick="modthreads(3, 'delete')">{lang modmenu_deletethread}</a><span class="pipe">|</span><!--{/if}-->
			
			<!--{if $_G['group']['allowstickthread'] && ($_G['forum_thread']['displayorder'] <= 3 || $_G['adminid'] == 1) && !$_G['forum_thread']['is_archived']}--><!--{eval $modopt++}--><a href="javascript:;" onclick="modthreads(1, 'stick')">{lang modmenu_stickthread}</a><span class="pipe">|</span><!--{/if}-->
		
			<!--{if $_G['group']['allowdigestthread'] && !$_G['forum_thread']['is_archived']}--><!--{eval $modopt++}--><a href="javascript:;" onclick="modthreads(1, 'digest')">{lang modmenu_digestpost}</a><span class="pipe">|</span><!--{/if}-->
			<!--{if $_G['group']['allowrecommendthread'] && !empty($_G['forum']['modrecommend']['open']) && $_G['forum']['modrecommend']['sort'] != 1 && !$_G['forum_thread']['is_archived']}--><!--{eval $modopt++}--><a href="javascript:;" onclick="modthreads(1, 'recommend')">{lang modmenu_recommend}</a><span class="pipe">|</span><!--{/if}-->
		
		
			
			<!--{if $_G['forum_thread']['is_archived'] && $_G['adminid'] == 1}--><!--{eval $modopt++}--><a href="javascript:;" onclick="modaction('restore', '', 'archiveid={$_G[forum_thread][archiveid]}')">{lang modmenu_archive}</a><span class="pipe">|</span><!--{/if}-->
			<!--{if $_G['forum_firstpid']}-->
				<!--{if $_G['group']['allowwarnpost']}--><!--{eval $modopt++}--><a href="javascript:;" onclick="modaction('warn', '$_G[forum_firstpid]')">{lang modmenu_warn}</a><span class="pipe">|</span><!--{/if}-->
				<!--{if $_G['group']['allowbanpost']}--><!--{eval $modopt++}--><a href="javascript:;" onclick="modaction('banpost', '$_G[forum_firstpid]')">{lang modmenu_banthread}</a><span class="pipe">|</span><!--{/if}-->
			<!--{/if}-->
			<!--{if $_G['group']['allowremovereward'] && $_G['forum_thread']['special'] == 3 && !$_G['forum_thread']['is_archived']}--><!--{eval $modopt++}--><a href="javascript:;" onclick="modaction('removereward')">{lang modmenu_removereward}</a><span class="pipe">|</span><!--{/if}-->
			<!--{if $_G['forum']['status'] == 3 && in_array($_G['adminid'], array('1','2')) && $_G['forum_thread']['closed'] < 1}--><a href="javascript:;" onclick="modthreads(5, 'recommend_group');return false;">{lang modmenu_grouprecommend}</a><span class="pipe">|</span><!--{/if}-->
			<!--{if $_G['group']['allowmanagetag']}--><a href="javascript:;" onclick="showWindow('mods', 'forum.php?mod=tag&op=manage&tid=$_G[tid]', 'get', 0)">{lang post_tag}</a><span class="pipe">|</span><!--{/if}-->
			<!--{if $_G['group']['alloweditusertag']}--><a href="javascript:;" onclick="showWindow('usertag', 'forum.php?mod=misc&action=usertag&tid=$_G[tid]', 'get', 0)">{lang usertag}</a><span class="pipe">|</span><!--{/if}-->
		<!--{/if}-->
		<!--{if $allowpusharticle && $allowpostarticle}--><!--{eval $modopt++}--><a href="portal.php?mod=portalcp&ac=article&from_idtype=tid&from_id=$_G['tid']">{lang modmenu_pusharticle}</a><span class="pipe">|</span><!--{/if}-->
        
		<!--{hook/viewthread_modoption}-->
	</div>
<!--{/if}-->
				<!--{/if}-->
                
           
            <div class="details_content hidden">
            <script type="text/javascript" src="/public/js/html5media.min.js"></script>
            	 <div style="background:#000"><video src="data/attachment/forum/$threadsortshow['optionlist']['videourl']['value']" width="100%" height="440" controls preload autoplay></video></div> 
            </div>
            
             <div class="details_function">
             	<p><span  class="Keyword">
                
                <!--{if $thread[tags]}-->
					<!--{eval $tagi = 0;}-->
					<!--{loop $thread[tags] $var}-->
						<a title="$var[1]" href="portal.php?keyword=$var[1]" target="_blank">$var[1]</a>
						<!--{eval $tagi++;}-->
					<!--{/loop}-->
				<!--{/if}-->
              <a style="background:none"></a>
                
                </span>
                
                 <!--{if $post['authorid'] != $_G['uid']}-->
							<a href="javascript:;" class="complain" onclick="showWindow('miscreport$thread[pid]', 'misc.php?mod=report&rtype=post&rid=$thread[pid]&tid=$_G[tid]&fid=$_G[fid]', 'get', -1);return false;">{lang report}</a>
						<!--{/if}-->
                </p>
                <p></p>
                <p><span class="share">分享（$thread[sharetimes]）：</span><span class="bdsharebuttonbox"><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a></span>
                 <a href="home.php?mod=spacecp&ac=favorite&type=thread&id=$_G[tid]&formhash={FORMHASH}"  {if $_G['uid']}onclick="collection_arc($thread[tid],this)"{else} onclick="showWindow('login', this.href)"{/if}  class="collection $thread[shoucang]">收藏（<font>$thread[favtimes]</font>）</a>
                <a href="javascript:;" class="despise $thread[bishiguo]" onClick="forumzan($thread[tid],2,this)">$thread[bishi]</a><a href="javascript:;" class="praise $thread[zanguo]" onClick="forumzan($thread[tid],1,this)">$thread[ding]</a></p>
             </div>
             <div class="details_evaluate">
           		<div class="evaluate_title">网友评价<span>{$commnetnum}条</span></div>
                <div class="evaluate_content">
                	<!--{if $fastpost}-->
	<!--{subtemplate forum/viewthread_arcfastpost}-->
<!--{/if}-->
				</div>
                <div class="evaluate_content" id="alist">
					<!--{eval $postcount = 0;}--> 
	<!--{loop $postlist $post}-->
		<!--{if $rushreply && $_GET['checkrush'] && $post['rewardfloor'] != 1}-->
			<!--{eval continue;}-->
		<!--{/if}-->
        
			<!--{subtemplate forum/viewthread_node_arc}-->  
		
		<!--{eval $postcount++;}-->
	<!--{/loop}-->
                 </div>   
                   
                    
                  
                 <div class="evaluate_content" id="loadmore">   
                    <div class="info_page"><a href="javascript:;">点击加载更多</a></div>
                </div>
           </div>
           <div class="details_relevant">
           		<div class="relevant_title">相关阅读</div>
                <ul class="listBox">
                    <!--{eval $i = 0;}-->
        <!--{loop $toutiaolist $thread}-->
            <!--{eval $i++;}-->
            <li>
                
            <!--{if $thread[attachment] == 2}-->
                <!--{if $thread['piccount'] >= 1 && $thread['piccount'] < 4}-->
                	<div class="pic  <!--{if $thread[fid] == 40}-->video<!--{/if}-->"><!--{subtemplate ceo/forumdisplay_list_pic}--><!--{if $thread[fid] == 40}--><span class="time">{$thread[videotime]}</span><!--{/if}--></div>
                <div class="data">
                	<div class="box">
                    	<div class="title"><a href="forum.php?mod=viewthread&tid=$thread[tid]"><span>{$thread[subject]}</span></a></div>
                        <!--{if $thread[message]}--><div class="abstract">{$thread['message']}</div><!--{/if}-->
                        <div class="info"><a href="home.php?mod=auther&uid=$thread[authorid]"><img src="uc_server/avatar.php?uid={$thread[authorid]}&size=middle">{$thread[author]}</a><a href="forum.php?mod=viewthread&tid=$thread[tid]"><!--{if $thread[replies] > 0}-->{$thread[replies]}<!--{else}-->0<!--{/if}-->评价</a><a>{$thread[dateline]}</a><a href="javascript:;" onClick="buganxingqu($thread[tid],this)" class="del"><span>不感兴趣</span></a></div>
                    </div>
                </div>
                	
               
                <!--{elseif  $thread['piccount'] >= 4}-->
                	<div class="data img">
                	<div class="title"><a href="forum.php?mod=viewthread&tid=$thread[tid]"><span>{$thread[subject]}</span></a></div>
                	<div class="box">
                    	<div class="img">
                         <!--{eval $iii=0;}-->
                        <!--{loop $thread['pics'] $key}--> 
                         <!--{eval $iii++;}-->                       
    <a  href="forum.php?mod=viewthread&tid=$thread[tid]" target="_blank">
        <img src="$key">
        <!--{if $iii==4}-->
        <span class="pic_number">{$thread['piccount']}图</span>
         <!--{/if}-->
    </a>
        <!--{/loop}-->
                      </div>
                       <div class="info"><a href="home.php?mod=auther&uid=$thread[authorid]"><img src="uc_server/avatar.php?uid={$thread[authorid]}&size=middle">{$thread[author]}</a><a href="forum.php?mod=viewthread&tid=$thread[tid]"><!--{if $thread[replies] > 0}-->{$thread[replies]}<!--{else}-->0<!--{/if}-->评价</a><a>{$thread[dateline]}</a><a href="javascript:;" onClick="buganxingqu($thread[tid],this)" class="del"><span>不感兴趣</span></a></div>
                    </div>
                </div>
                	
                	
                  
                <!--{else}-->
                  
               <div class="data words">
                	<div class="box">
                    	<div class="title"><a href="forum.php?mod=viewthread&tid=$thread[tid]"><span>{$thread[subject]}</span></a></div>
                       <!--{if $thread[message]}--><div class="abstract">{$thread['message']}</div><!--{/if}-->
                         <div class="info"><a href="home.php?mod=auther&uid=$thread[authorid]"><img src="uc_server/avatar.php?uid={$thread[authorid]}&size=middle">{$thread[author]}</a><a href="forum.php?mod=viewthread&tid=$thread[tid]"><!--{if $thread[replies] > 0}-->{$thread[replies]}<!--{else}-->0<!--{/if}-->评价</a><a>{$thread[dateline]}</a><a href="javascript:;" onClick="buganxingqu($thread[tid],this)" class="del"><span>不感兴趣</span></a></div>
                    </div>
                </div>
                <!--{/if}-->
            <!--{else}-->
            
            		<div class="data words">
                	<div class="box">
                    	<div class="title"><a href="forum.php?mod=viewthread&tid=$thread[tid]"><span>{$thread[subject]}</span></a></div>
                       <!--{if $thread[message]}--><div class="abstract">{$thread['message']}</div><!--{/if}-->
                         <div class="info"><a href="home.php?mod=auther&uid=$thread[authorid]"><img src="uc_server/avatar.php?uid={$thread[authorid]}&size=middle">{$thread[author]}</a><a href="forum.php?mod=viewthread&tid=$thread[tid]"><!--{if $thread[replies] > 0}-->{$thread[replies]}<!--{else}-->0<!--{/if}-->评价</a><a>{$thread[dateline]}</a><a href="javascript:;" onClick="buganxingqu($thread[tid],this)" class="del"><span>不感兴趣</span></a></div>
                    </div>
                </div>
                
                
                
            <!--{/if}-->
                
            </li>
        <!--{/loop}-->
              </ul>
           </div>
           
           
           

        </div>
    </div>
</div>
<!--frame_main END-->

<!--{if $modmenu['post']}-->
	<div id="mdly" class="fwinmask" style="display:none;z-index:350;">
		<table cellspacing="0" cellpadding="0" class="fwin">
			<tr>
				<td class="t_l"></td>
				<td class="t_c"></td>
				<td class="t_r"></td>
			</tr>
			<tr>
				<td class="m_l">&nbsp;&nbsp;</td>
				<td class="m_c">
					<div class="f_c">
						<div class="c">
							<h3>{lang admin_select}&nbsp;<strong id="mdct" class="xi1"></strong>&nbsp;{lang piece}: </h3>
							<!--{if $_G['forum']['ismoderator']}-->
								<!--{if $_G['group']['allowwarnpost']}--><a href="javascript:;" onclick="modaction('warn')">{lang modmenu_warn}</a><span class="pipe">|</span><!--{/if}-->
								<!--{if $_G['group']['allowbanpost']}--><a href="javascript:;" onclick="modaction('banpost')">{lang modmenu_banpost}</a><span class="pipe">|</span><!--{/if}-->
								<!--{if $_G['group']['allowdelpost'] && !$rushreply}--><a href="javascript:;" onclick="modaction('delpost')">{lang modmenu_deletepost}</a><span class="pipe">|</span><!--{/if}-->
							<!--{/if}-->
							<!--{if $_G['forum']['ismoderator'] && $_G['group']['allowstickreply'] || $_G['forum_thread']['authorid'] == $_G['uid']}--><a href="javascript:;" onclick="modaction('stickreply')">{lang modmenu_stickpost}</a><span class="pipe">|</span><!--{/if}-->
							<!--{if $_G['forum_thread']['pushedaid'] && $allowpostarticle}--><a href="javascript:;" onclick="modaction('pushplus', '', 'aid=$_G[forum_thread][pushedaid]', 'portal.php?mod=portalcp&ac=article&op=pushplus')">{lang modmenu_pushplus}</a><span class="pipe">|</span><!--{/if}-->
						</div>
					</div>
				</td>
				<td class="m_r"></td>
			</tr>
			<tr>
				<td class="b_l"></td>
				<td class="b_c"></td>
				<td class="b_r"></td> 
			</tr>
		</table>
	</div>
<!--{/if}-->

<!--complain_alert-->
<div class="alert-background"></div>
<div class="complain_alert font_yahei">
	<div class="complain_title">举报此人<a href="javascript:;" class="close">×</a></div>
    <div class="complain_content">
    	<p><label><input type="radio" name="complain" value="淫秽色情"><span>淫秽色情</span></label></p>
        <p><label><input type="radio" name="complain" value="营销广告"><span>营销广告</span></label></p>
        <p><label><input type="radio" name="complain" value="恶意攻击谩骂"><span>恶意攻击谩骂</span></label></p>
        <p><label><input type="radio" name="complain" class="textarea" value=""><span>我有话要说</span></label></p>
        <textarea class="font_yahei" id="jubaonr"></textarea>
    </div>
    <div class="alert-button">
       <a href="javascript:void(0)" class="close">取消</a>
       <a href="javascript:void(0)" id="alert-post" class="a2" data-id="">确认提交</a>
    </div>
</div>
<!--complain_alert END-->

</body>
 <script type="text/javascript">
        var urlpage = 'forum.php?mod=viewthread&tid=$_G[tid]&ordertype={if $ordertype != 2}1{else}2{/if}';
        var pages=$_G['page'];
        var allpage=$totalpage;
		jq(function(){
			if(pages>=allpage){
				jq("#loadmore").hide();	
			}	
			if(allpage==0){
					jq("#loadmore").hide();	
			}
		})
    </script> 
<script src="template/pc/ceo/arc_ajaxpage.js"></script>
<script type="text/javascript" src="/public/js/Public_index.js"></script>
<form method="post" autocomplete="off" name="modactions" id="modactions">
	<input type="hidden" name="formhash" value="{FORMHASH}" />
	<input type="hidden" name="optgroup" />
	<input type="hidden" name="operation" />
	<input type="hidden" name="listextra" value="$_GET[extra]" />
	<input type="hidden" name="page" value="$page" />
</form>
<!--{template common/footer}-->
