<!--{template common/header}-->

<!--frame_adv-->
<div class="frame_adv public_width" style="display:none;"><!--{ad/custom_1}--></div>
<!--frame_adv END-->

<!--frame_main-->
<div class="frame_main public_width font_yahei">

<!--{template common/left_menu}-->

	<!--{template common/lefter}-->
    
    <div class="right">
    
        <!--{template ceo/toutiao}-->
       
        
    </div>
</div>
<!--frame_main END-->

</body>

<script type="text/javascript" src="/public/js/Public_index.js"></script>

</html>
