<!--{template common/header}-->

<!--{if empty($gid)}-->
	<!--{ad/text/wp a_t}-->
<!--{/if}-->

<style id="diy_style" type="text/css"></style>

<!--{if empty($gid)}-->
	<div class="wp">
		<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
	</div>
<!--{/if}-->

<div id="ct" class="ceo_forum wp cl{if $_G['setting']['forumallowside']} ct2{/if} public_width" style="margin-top:30px;">
	<!--[diy=diy_chart]--><div id="diy_chart" class="area"></div><!--[/diy]-->
    <!--{template common/left_menu}-->
    
    
    
    <!--{if $_G['setting']['forumallowside']}-->
		<div id="sd" class="sd" style="float:right;">
			<!--{hook/index_side_top}-->
			<div class="drag"><!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]--></div>
        <div class="sd_btn bp"><!--[diy=diy_sd_btn]--><div id="diy_sd_btn" class="area"><div id="framez1P1mY" class="frame move-span cl frame-1"><div id="framez1P1mY_left" class="column frame-1-c"><div id="framez1P1mY_left_temp" class="move-span temp"></div><!--{block/104}--></div></div></div><!--[/diy]--></div>
            <div class="mbm"><!--[diy=diy_ad11]--><div id="diy_ad11" class="area"></div><!--[/diy]--></div>
        <div class="ceo_forum_hot bp"><!--[diy=diy_forum_hot]--><div id="diy_forum_hot" class="area"><div id="frameXcN6QY" class="frame move-span cl frame-1"><div id="frameXcN6QY_left" class="column frame-1-c"><div id="frameXcN6QY_left_temp" class="move-span temp"></div><!--{block/105}--></div></div></div><!--[/diy]--></div>
            <div class="mbm"><!--[diy=diy_ad12]--><div id="diy_ad12" class="area"></div><!--[/diy]--></div>
        <div class="ceo_thread_top bp"><!--[diy=diy_thread_top]--><div id="diy_thread_top" class="area"><div id="framem4cm4z" class="frame move-span cl frame-1"><div id="framem4cm4z_left" class="column frame-1-c"><div id="framem4cm4z_left_temp" class="move-span temp"></div><!--{block/106}--></div></div></div><!--[/diy]--></div>
            <div class="mbm"><!--[diy=diy_ad13]--><div id="diy_ad13" class="area"></div><!--[/diy]--></div>
      
            <div class="mbm"><!--[diy=diy_ad14]--><div id="diy_ad14" class="area"></div><!--[/diy]--></div>
        <div class="ceo_rep_hot bp"><!--[diy=diy_rep_hot]--><div id="diy_rep_hot" class="area"><div id="framerDNqMo" class="frame move-span cl frame-1"><div id="framerDNqMo_left" class="column frame-1-c"><div id="framerDNqMo_left_temp" class="move-span temp"></div><!--{block/109}--></div></div></div><!--[/diy]--></div>
            <div class="mbm"><!--[diy=diy_ad15]--><div id="diy_ad15" class="area"></div><!--[/diy]--></div>
        <div class="ceo_users bp"><!--[diy=diy_users]--><div id="diy_users" class="area"><div id="frameKqQF16" class="frame move-span cl frame-1"><div id="frameKqQF16_left" class="column frame-1-c"><div id="frameKqQF16_left_temp" class="move-span temp"></div><!--{block/110}--></div></div></div><!--[/diy]--></div>
            <div class="mbm"><!--[diy=diy_ad16]--><div id="diy_ad16" class="area"></div><!--[/diy]--></div>
       
            
			<!--{hook/index_side_bottom}-->
		</div>
	<!--{/if}-->
    
    
    
	<div class="mn" style="width:760px; float:right; margin-right:30px;">
    
        <div class="forum_slide bp"><!--[diy=diy_slide]--><div id="diy_slide" class="area"><div id="frameUT11MQ" class="frame move-span cl frame-1"><div id="frameUT11MQ_left" class="column frame-1-c"><div id="frameUT11MQ_left_temp" class="move-span temp"></div><!--{block/103}--></div></div></div><!--[/diy]--></div>
		<!--{if !empty($_G['setting']['grid']['showgrid'])}-->
		<!-- index four grid -->
		<div id="category_grid" class="ceo_grid bp">
			<table cellspacing="0" cellpadding="0"><tr>
			<!--{if !$_G['setting']['grid']['gridtype']}-->
				<td valign="top" class="category_l1">
					<div class="newimgbox">
						<div class="module cl slidebox_grid" style="width:288px;height:288px;overflow:hidden;">
							<script type="text/javascript">
							var slideSpeed = 5000;
							var slideImgsize = [288,288];
							var slideBorderColor = '{$_G['style']['specialborder']}';
							var slideBgColor = '{$_G['style']['commonbg']}';
							var slideImgs = new Array();
							var slideImgLinks = new Array();
							var slideImgTexts = new Array();
							var slideSwitchColor = '{$_G['style']['tabletext']}';
							var slideSwitchbgColor = '{$_G['style']['commonbg']}';
							var slideSwitchHiColor = '{$_G['style']['specialborder']}';
							{eval $k = 1;}
							<!--{loop $grids['slide'] $stid $svalue}-->
								slideImgs[<!--{echo $k}-->] = '$svalue[image]';
								slideImgLinks[<!--{echo $k}-->] = '{$svalue[url]}';
								slideImgTexts[<!--{echo $k}-->] = '$svalue[subject]';
								{eval $k++;}
							<!--{/loop}-->
							</script>
							<script language="javascript" type="text/javascript" src="{$_G[setting][jspath]}forum_slide.js?{VERHASH}"></script>
						</div>
					</div>
				</td>
			<!--{/if}-->
			<td valign="top" class="category_l2">
				<div class="subjectbox">
					<h4><span class="tit_subject"></span>{lang collection_lastthread}</h4>
					<ul class="category_newlist">
						<!--{loop $grids['newthread'] $thread}-->
						<!--{if !$thread['forumstick'] && $thread['closed'] > 1 && ($thread['isgroup'] == 1 || $thread['fid'] != $_G['fid'])}-->
							<!--{eval $thread[tid]=$thread[closed];}-->
						<!--{/if}-->
						<li><a href="forum.php?mod=viewthread&tid=$thread[tid]&extra=$extra"{if $thread['highlight']} $thread['highlight']{/if}{if $_G['setting']['grid']['showtips']} tip="{lang title}: <strong>$thread[oldsubject]</strong><br/>{lang author}: $thread[author] ($thread[dateline])<br/>{lang show}/{lang reply}: $thread[views]/$thread[replies]" onmouseover="showTip(this)"{else} title="$thread[oldsubject]"{/if}{if $_G['setting']['grid']['targetblank']} target="_blank"{/if}>$thread[subject]</a></li>
						<!--{/loop}-->
					 </ul>
				 </div>
			</td>
			<td valign="top" class="category_l3">
				<div class="replaybox">
					<h4><span class="tit_replay"></span>{lang show_newthreads}</h4>
					<ul class="category_newlist">
						<!--{loop $grids['newreply'] $thread}-->
						<!--{if !$thread['forumstick'] && $thread['closed'] > 1 && ($thread['isgroup'] == 1 || $thread['fid'] != $_G['fid'])}-->
							<!--{eval $thread[tid]=$thread[closed];}-->
						<!--{/if}-->
						<li><a href="forum.php?mod=redirect&tid=$thread[tid]&goto=lastpost#lastpost"{if $thread['highlight']} $thread['highlight']{/if}{if $_G['setting']['grid']['showtips']}tip="{lang title}: <strong>$thread[oldsubject]</strong><br/>{lang author}: $thread[author] ($thread[dateline])<br/>{lang show}/{lang reply}: $thread[views]/$thread[replies]" onmouseover="showTip(this)"{else} title="$thread[oldsubject]"{/if}{if $_G['setting']['grid']['targetblank']} target="_blank"{/if}>$thread[subject]</a></li>
						<!--{/loop}-->
					 </ul>
				 </div>
			</td>
			<td valign="top" class="category_l3">
				<div class="hottiebox">
					<h4><span class="tit_hottie"></span>{lang hot_thread}</h4>
					<ul class="category_newlist">
						<!--{loop $grids['hot'] $thread}-->
						<!--{if !$thread['forumstick'] && $thread['closed'] > 1 && ($thread['isgroup'] == 1 || $thread['fid'] != $_G['fid'])}-->
							<!--{eval $thread[tid]=$thread[closed];}-->
						<!--{/if}-->
						<li><a href="forum.php?mod=viewthread&tid=$thread[tid]&extra=$extra"{if $thread['highlight']} $thread['highlight']{/if}{if $_G['setting']['grid']['showtips']} tip="{lang title}: <strong>$thread[oldsubject]</strong><br/>{lang author}: $thread[author] ($thread[dateline])<br/>{lang show}/{lang reply}: $thread[views]/$thread[replies]" onmouseover="showTip(this)"{else} title="$thread[oldsubject]"{/if}{if $_G['setting']['grid']['targetblank']} target="_blank"{/if}>$thread[subject]</a></li>
						<!--{/loop}-->
					 </ul>
				 </div>
			</td>
			<!--{if $_G['setting']['grid']['gridtype']}-->
				<td valign="top" class="category_l4">
					<div class="goodtiebox">
						<h4><span class="tit_goodtie"></span>{lang post_digest_thread}</h4>
						<ul class="category_newlist">
							<!--{loop $grids['digest'] $thread}-->
								<!--{if !$thread['forumstick'] && $thread['closed'] > 1 && ($thread['isgroup'] == 1 || $thread['fid'] != $_G['fid'])}-->
									<!--{eval $thread[tid]=$thread[closed];}-->
								<!--{/if}-->
								<li><a href="forum.php?mod=viewthread&tid=$thread[tid]&extra=$extra"{if $thread['highlight']} $thread['highlight']{/if}{if $_G['setting']['grid']['showtips']} tip="{lang title}: <strong>$thread[oldsubject]</strong><br/>{lang author}: $thread[author] ($thread[dateline])<br/>{lang show}/{lang reply}: $thread[views]/$thread[replies]" onmouseover="showTip(this)"{else} title="$thread[oldsubject]"{/if}{if $_G['setting']['grid']['targetblank']} target="_blank"{/if}>$thread[subject]</a></li>
							<!--{/loop}-->
						 </ul>
					</div>
				</td>
			<!--{/if}-->
			</table>
		</div>
		<!-- index four grid end -->
		<!--{/if}-->
		
		<!--{if empty($gid)}-->
		<div id="chart" class="cl">
			<ul class="chart z">
				<li class="t">{lang index_today}帖数： <em>$todayposts</em></li>
				<li class="ye">{lang index_yesterday}帖数： <em>$postdata[0]</em></li>
				<li class="p">{lang index_posts}数： <em>$posts</em></li>
				<li class="m">{lang index_members}总数： <em>$_G['cache']['userstats']['totalmembers']</em></li>
			</ul>
			<!--<div class="y">
				<!--{if $_G['cache']['userstats']['newsetuser']}-->{lang welcome_new_members}：<em>$_G['cache']['userstats']['newsetuser']</em><!--{/if}-->
			</div>-->
		</div>
		<!--{/if}-->

		<!--{hook/index_top}-->
		<!--{if !empty($_G['cache']['heats']['message'])}-->
			<div class="ceo_forum_box bp">
				<div class="ceo_forum_tit cl">
					<h2>{lang hotthreads_forum}</h2>
				</div>
				<div class="cl">
					<div class="heat z">
						<!--{loop $_G['cache']['heats']['message'] $data}-->
							<dl class="xld">
								<dt><!--{if $_G['adminid'] == 1}--><a class="d" href="forum.php?mod=misc&action=removeindexheats&tid=$data[tid]" onclick="return removeindexheats()">delete</a><!--{/if}-->
								<a href="forum.php?mod=viewthread&tid=$data[tid]" target="_blank" class="xi2">$data[subject]</a></dt>
								<dd>$data[message]</dd>
							</dl>
						<!--{/loop}-->
					</div>
					<ul class="xl xl1 heatl">
					<!--{loop $_G['cache']['heats']['subject'] $data}-->
						<li><!--{if $_G['adminid'] == 1}--><a class="d" href="forum.php?mod=misc&action=removeindexheats&tid=$data[tid]" onclick="return removeindexheats()">delete</a><!--{/if}-->&middot; <a href="forum.php?mod=viewthread&tid=$data[tid]" target="_blank" class="xi2">$data[subject]</a></li>
					<!--{/loop}-->
					</ul>
				</div>
			</div>
		<!--{/if}-->

		<!--{hook/index_catlist_top}-->
		
		<!--{if !empty($collectiondata['follows'])}-->

		<!--{eval $forumscount = count($collectiondata['follows']);}-->
		<!--{eval $forumcolumns = 4;}-->

		<!--{eval $forumcolwidth = (floor(100 / $forumcolumns) - 0.1).'%';}-->

		<div class="ceo_forum_box bp {if $forumcolumns} flg{/if} cl">
			<div class="ceo_forum_tit cl">
				<h2><a href="forum.php?mod=collection&op=my">{lang my_order_collection}</a></h2>
			</div>
			<div id="category_-1" style="{echo $collapse['category_-1']}">
				<table cellspacing="0" cellpadding="0" class="fl_tb">
					<tr>
					<!--{eval $ctorderid = 0;}-->
					<!--{loop $collectiondata['follows'] $key $colletion}-->
						<!--{if $ctorderid && ($ctorderid % $forumcolumns == 0)}-->
							</tr>
							<!--{if $ctorderid < $forumscount}-->
								<tr class="fl_row">
							<!--{/if}-->
						<!--{/if}-->
						<td class="fl_g"{if $forumcolwidth} width="$forumcolwidth"{/if}>
							<div class="fl_icn_g">
							<a href="forum.php?mod=collection&action=view&ctid={$colletion[ctid]}" target="_blank"><img src="{IMGDIR}/forum{if $followcollections[$key]['lastvisit'] < $colletion['lastupdate']}_new{/if}.gif" alt="$colletion[name]" /></a>
							</div>
							<dl>
								<dt><a href="forum.php?mod=collection&action=view&ctid={$colletion[ctid]}">$colletion[name]</a></dt>
								<dd><em>{lang forum_threads}: <!--{echo dnumber($colletion[threadnum])}--></em>, <em>{lang collection_commentnum}: <!--{echo dnumber($colletion[commentnum])}--></em></dd>
								<dd>
								<!--{if $colletion['lastpost']}-->
									<!--{if $forumcolumns < 3}-->
										<a href="forum.php?mod=redirect&tid=$colletion[lastpost]&goto=lastpost#lastpost" class="xi2"><!--{echo cutstr($colletion[lastsubject], 30)}--></a> <cite><!--{date($colletion[lastposttime])}--> <!--{if $colletion['lastposter']}-->$colletion['lastposter']<!--{else}-->$_G[setting][anonymoustext]<!--{/if}--></cite>
									<!--{else}-->
										<a href="forum.php?mod=redirect&tid=$colletion[lastpost]&goto=lastpost#lastpost">{lang forum_lastpost}: <!--{date($colletion[lastposttime])}--></a>
									<!--{/if}-->
								<!--{else}-->
									{lang never}
								<!--{/if}-->
								</dd>
								<!--{hook/index_followcollection_extra $colletion[ctid]}-->
							</dl>
						</td>
						<!--{eval $ctorderid++;}-->

					<!--{/loop}-->
					<!--{if ($columnspad = $ctorderid % $forumcolumns) > 0}--><!--{echo str_repeat('<td class="fl_g"'.($forumcolwidth ? " width=\"$forumcolwidth\"" : '').'></td>', $forumcolumns - $columnspad);}--><!--{/if}-->
					</tr>
				</table>

			</div>
			

			<!--{/if}-->
			<!--{if empty($gid) && !empty($forum_favlist)}-->
			<!--{eval $forumscount = count($forum_favlist);}-->
			<!--{eval $forumcolumns = $forumscount > 3 ? ($forumscount == 4 ? 4 : 5) : 1;}-->

			<!--{eval $forumcolwidth = (floor(100 / $forumcolumns) - 0.1).'%';}-->

			<div class="ceo_forum_box bp {if $forumcolumns} flg{/if} cl">
				<div class="ceo_forum_tit cl">
					<h2><a href="home.php?mod=space&do=favorite&type=forum">{lang forum_myfav}</a></h2>
				</div>
				<div id="category_0" style="{echo $collapse['category_0']}">
					<table cellspacing="0" cellpadding="0" class="fl_tb">
						<tr>
						<!--{eval $favorderid = 0;}-->
						<!--{loop $forum_favlist $key $favorite}-->
						<!--{if $favforumlist[$favorite[id]]}-->
						<!--{eval $forum=$favforumlist[$favorite[id]];}-->
						<!--{eval $forumurl = !empty($forum['domain']) && !empty($_G['setting']['domain']['root']['forum']) ? 'http://'.$forum['domain'].'.'.$_G['setting']['domain']['root']['forum'] : 'forum.php?mod=forumdisplay&fid='.$forum['fid'];}-->
							<!--{if $forumcolumns>1}-->
								<!--{if $favorderid && ($favorderid % $forumcolumns == 0)}-->
									</tr>
									<!--{if $favorderid < $forumscount}-->
										<tr class="fl_row">
									<!--{/if}-->
								<!--{/if}-->
								<td class="fl_g"{if $forumcolwidth} width="$forumcolwidth"{/if}>
									<div class="fl_icn_g">
									<!--{if $forum[icon]}-->
										$forum[icon]
									<!--{else}-->
										<a href="$forumurl"{if $forum[redirect]} target="_blank"{/if}><img src="{IMGDIR}/forum{if $forum[folder]}_new{/if}.gif" alt="$forum[name]" /></a>
									<!--{/if}-->
									</div>
									<dl>
										<dt><a href="$forumurl"{if $forum[redirect]} target="_blank"{/if}{if $forum[extra][namecolor]} style="color: {$forum[extra][namecolor]};"{/if}>$forum[name]</a><!--{if $forum[todayposts] && !$forum['redirect']}--><em class="xw0 xi1" title="{lang forum_todayposts}"> ($forum[todayposts])</em><!--{/if}--></dt>
										<!--{if empty($forum[redirect])}--><dd><em>{lang forum_threads}: <!--{echo dnumber($forum[threads])}--></em>, <em>{lang forum_posts}: <!--{echo dnumber($forum[posts])}--></em></dd><!--{/if}-->
										<dd>
										<!--{if $forum['permission'] == 1}-->
											{lang private_forum}
										<!--{else}-->
											<!--{if $forum['redirect']}-->
												<a href="$forumurl" class="xi2">{lang url_link}</a>
											<!--{elseif is_array($forum['lastpost'])}-->
												<!--{if $forumcolumns < 3}-->
													<a href="forum.php?mod=redirect&tid=$forum[lastpost][tid]&goto=lastpost#lastpost" class="xi2"><!--{echo cutstr($forum[lastpost][subject], 30)}--></a> <cite>$forum[lastpost][dateline] <!--{if $forum['lastpost']['author']}-->$forum['lastpost']['author']<!--{else}-->$_G[setting][anonymoustext]<!--{/if}--></cite>
												<!--{else}-->
													<a href="forum.php?mod=redirect&tid=$forum[lastpost][tid]&goto=lastpost#lastpost">{lang forum_lastpost}: $forum[lastpost][dateline]</a>
												<!--{/if}-->
											<!--{else}-->
												{lang never}
											<!--{/if}-->
										<!--{/if}-->
										</dd>
										<!--{hook/index_favforum_extra $forum[fid]}-->
									</dl>
								</td>
								<!--{eval $favorderid++;}-->
							<!--{else}-->
								<td class="fl_icn">
									<!--{if $forum[icon]}-->
										$forum[icon]
									<!--{else}-->
										<a href="$forumurl"{if $forum[redirect]} target="_blank"{/if}><img src="{IMGDIR}/forum{if $forum[folder]}_new{/if}.gif" alt="$forum[name]" /></a>
									<!--{/if}-->
								</td>
								<td>
									<h2><a href="$forumurl"{if $forum[redirect]} target="_blank"{/if}{if $forum[extra][namecolor]} style="color: {$forum[extra][namecolor]};"{/if}>$forum[name]</a><!--{if $forum[todayposts] && !$forum['redirect']}--><em class="xw0 xi1" title="{lang forum_todayposts}"> ($forum[todayposts])</em><!--{/if}--></h2>
									<!--{if $forum[description]}--><p class="xg2">$forum[description]</p><!--{/if}-->
									<!--{if $forum['subforums']}--><p>{lang forum_subforums}: $forum['subforums']</p><!--{/if}-->
									<!--{if $forum['moderators']}--><p>{lang forum_moderators}: <span>$forum[moderators]</span></p><!--{/if}-->
									<!--{hook/index_favforum_extra $forum[fid]}-->
								</td>
								<td class="fl_i">
									<!--{if empty($forum[redirect])}--><span><!--{echo dnumber($forum[threads])}--></span><span> / <!--{echo dnumber($forum[posts])}--></span><!--{/if}-->
								</td>
								<td class="fl_by">
									<div>
									<!--{if $forum['permission'] == 1}-->
										{lang private_forum}
									<!--{else}-->
										<!--{if $forum['redirect']}-->
											<a href="$forumurl" class="xi2">{lang url_link}</a>
										<!--{elseif is_array($forum['lastpost'])}-->
											<a href="forum.php?mod=redirect&tid=$forum[lastpost][tid]&goto=lastpost#lastpost" class="xi2"><!--{echo cutstr($forum[lastpost][subject], 30)}--></a> <cite>$forum[lastpost][dateline] <!--{if $forum['lastpost']['author']}-->$forum['lastpost']['author']<!--{else}-->$_G[setting][anonymoustext]<!--{/if}--></cite>
										<!--{else}-->
											{lang never}
										<!--{/if}-->
									<!--{/if}-->
									</div>
								</td>
							</tr>
							<tr class="fl_row">

							<!--{/if}-->
						<!--{/if}-->
						<!--{/loop}-->
						<!--{if ($columnspad = $favorderid % $forumcolumns) > 0}--><!--{echo str_repeat('<td class="fl_g"'.($forumcolwidth ? " width=\"$forumcolwidth\"" : '').'></td>', $forumcolumns - $columnspad);}--><!--{/if}-->
						</tr>
					</table>

				</div>
			</div>
			<!--{ad/intercat/bm a_c/-1}-->
		<!--{/if}-->
		<!--{loop $catlist $key $cat}-->
			<!--{hook/index_catlist $cat[fid]}-->
			<div class="ceo_forum_box bp {if $cat['forumcolumns']} flg{/if} cl">
				<div class="ceo_forum_tit">
					<!--{if $cat['moderators']}--><span class="y">{lang forum_category_modedby}: $cat[moderators]</span><!--{/if}-->
					<!--{eval $caturl = !empty($cat['domain']) && !empty($_G['setting']['domain']['root']['forum']) ? 'http://'.$cat['domain'].'.'.$_G['setting']['domain']['root']['forum'] : '';}-->
					<h2>$cat[name]</h2>
				</div>
				<div id="category_$cat[fid]" style="{echo $collapse['category_'.$cat[fid]]}">
					<table cellspacing="0" cellpadding="0" class="fl_tb">
						<tr>
						<!--{loop $cat[forums] $forumid}-->
						<!--{eval $forum=$forumlist[$forumid];}-->
						<!--{eval $forumurl = !empty($forum['domain']) && !empty($_G['setting']['domain']['root']['forum']) ? 'http://'.$forum['domain'].'.'.$_G['setting']['domain']['root']['forum'] : 'forum.php?mod=forumdisplay&fid='.$forum['fid'];}-->
						<!--{if $cat['forumcolumns']}-->
							<!--{if $forum['orderid'] && ($forum['orderid'] % $cat['forumcolumns'] == 0)}-->
								</tr>
								<!--{if $forum['orderid'] < $cat['forumscount']}-->
									<tr class="fl_row">
								<!--{/if}-->
							<!--{/if}-->
							<td class="fl_g" width="$cat[forumcolwidth]">
								<div class="fl_icn_g">
								<!--{if $forum[icon]}-->
									$forum[icon]
								<!--{else}-->
									<a href="$forumurl"{if $forum[redirect]} target="_blank"{/if}><img src="{IMGDIR}/forum{if $forum[folder]}_new{/if}.gif" alt="$forum[name]" /></a>
								<!--{/if}-->
								</div>
								<dl>
									<dt><a href="$forumurl"{if $forum[redirect]} target="_blank"{/if}{if $forum[extra][namecolor]} style="color: {$forum[extra][namecolor]};"{/if}>$forum[name]</a><!--{if $forum[todayposts] && !$forum['redirect']}--><em title="{lang forum_todayposts}"> ($forum[todayposts])</em><!--{/if}--></dt>
									<!--{if $forum[description]}--><dd class="desc">$forum[description]</dd><!--{/if}-->
									<!--{if empty($forum[redirect])}--><dd><em>{lang forum_threads}: <!--{echo dnumber($forum[threads])}--></em>, <em>{lang forum_posts}: <!--{echo dnumber($forum[posts])}--></em></dd><!--{/if}-->									
									<!--{hook/index_forum_extra $forum[fid]}-->
								</dl>
							</td>
						<!--{else}-->
							<td class="fl_icn">
								<!--{if $forum[icon]}-->
									$forum[icon]
								<!--{else}-->
									<a href="$forumurl"{if $forum[redirect]} target="_blank"{/if}><img src="{IMGDIR}/forum{if $forum[folder]}_new{/if}.gif" alt="$forum[name]" /></a>
								<!--{/if}-->
							</td>
							<td>
								<h2><a href="$forumurl"{if $forum[redirect]} target="_blank"{/if}{if $forum[extra][namecolor]} style="color: {$forum[extra][namecolor]};"{/if}>$forum[name]</a><!--{if $forum[todayposts] && !$forum['redirect']}--><em class="xw0 xi1" title="{lang forum_todayposts}"> ($forum[todayposts])</em><!--{/if}--></h2>
								<!--{if $forum[description]}--><p class="xg2">$forum[description]</p><!--{/if}-->
								<!--{if $forum['subforums']}--><p>{lang forum_subforums}: $forum['subforums']</p><!--{/if}-->
								<!--{if $forum['moderators']}--><p>{lang forum_moderators}: <span class="xi2">$forum[moderators]</span></p><!--{/if}-->
								<!--{hook/index_forum_extra $forum[fid]}-->
							</td>
							<td class="fl_i">
								<!--{if empty($forum[redirect])}--><span class="xi2"><!--{echo dnumber($forum[threads])}--></span><span class="xg1"> / <!--{echo dnumber($forum[posts])}--></span><!--{/if}-->
							</td>
							<td class="fl_by">
								<div>
								<!--{if $forum['permission'] == 1}-->
									{lang private_forum}
								<!--{else}-->
									<!--{if $forum['redirect']}-->
										<a href="$forumurl" class="xi2">{lang url_link}</a>
									<!--{elseif is_array($forum['lastpost'])}-->
										<a href="forum.php?mod=redirect&tid=$forum[lastpost][tid]&goto=lastpost#lastpost" class="xi2"><!--{echo cutstr($forum[lastpost][subject], 30)}--></a> <cite>$forum[lastpost][dateline] <!--{if $forum['lastpost']['author']}-->$forum['lastpost']['author']<!--{else}-->$_G[setting][anonymoustext]<!--{/if}--></cite>
									<!--{else}-->
										{lang never}
									<!--{/if}-->
								<!--{/if}-->
								</div>
							</td>
						</tr>
						<tr class="fl_row">
						<!--{/if}-->
						<!--{/loop}-->
						$cat['endrows']
						</tr>
					</table>
				</div>
			</div>
			<!--{ad/intercat/bm a_c/$cat[fid]}-->
		<!--{/loop}-->
			<!--{if !empty($collectiondata['data'])}-->

			<!--{eval $forumscount = count($collectiondata['data']);}-->
			<!--{eval $forumcolumns = 4;}-->

			<!--{eval $forumcolwidth = (floor(100 / $forumcolumns) - 0.1).'%';}-->

			<div class="ceo_forum_box bp {if $forumcolumns} flg{/if} cl">
				<div class="ceo_forum_tit cl">
					<h2><a href="forum.php?mod=collection">{lang recommend_collection}</a></h2>
				</div>
				<div id="category_-2"  style="{echo $collapse['category_-2']}">
					<table cellspacing="0" cellpadding="0" class="fl_tb">
						<tr>
						<!--{eval $ctorderid = 0;}-->
						<!--{loop $collectiondata['data'] $key $colletion}-->
							<!--{if $ctorderid && ($ctorderid % $forumcolumns == 0)}-->
								</tr>
								<!--{if $ctorderid < $forumscount}-->
									<tr class="fl_row">
								<!--{/if}-->
							<!--{/if}-->
							<td class="fl_g"{if $forumcolwidth} width="$forumcolwidth"{/if}>
								<div class="fl_icn_g">
								<a href="forum.php?mod=collection&action=view&ctid={$colletion[ctid]}" target="_blank"><img src="{IMGDIR}/forum.gif" alt="$colletion[name]" /></a>
								</div>
								<dl>
									<dt><a href="forum.php?mod=collection&action=view&ctid={$colletion[ctid]}">$colletion[name]</a></dt>
									<dd><em>{lang forum_threads}: <!--{echo dnumber($colletion[threadnum])}--></em>, <em>{lang collection_commentnum}: <!--{echo dnumber($colletion[commentnum])}--></em></dd>
									<dd>
									<!--{if $colletion['lastpost']}-->
										<!--{if $forumcolumns < 3}-->
											<a href="forum.php?mod=redirect&tid=$colletion[lastpost]&goto=lastpost#lastpost" class="xi2"><!--{echo cutstr($colletion[lastsubject], 30)}--></a> <cite><!--{date($colletion[lastposttime])}--> <!--{if $colletion['lastposter']}-->$colletion['lastposter']<!--{else}-->$_G[setting][anonymoustext]<!--{/if}--></cite>
										<!--{else}-->
											<a href="forum.php?mod=redirect&tid=$colletion[lastpost]&goto=lastpost#lastpost">{lang forum_lastpost}: <!--{date($colletion[lastposttime])}--></a>
										<!--{/if}-->
									<!--{else}-->
										{lang never}
									<!--{/if}-->
									</dd>
									<!--{hook/index_datacollection_extra $colletion[ctid]}-->
								</dl>
							</td>
							<!--{eval $ctorderid++;}-->

						<!--{/loop}-->
						<!--{if ($columnspad = $ctorderid % $forumcolumns) > 0}--><!--{echo str_repeat('<td class="fl_g"'.($forumcolwidth ? " width=\"$forumcolwidth\"" : '').'></td>', $forumcolumns - $columnspad);}--><!--{/if}-->
						</tr>
					</table>

				</div>
			</div>

			<!--{/if}-->
		<!--{hook/index_middle}-->
		<div class="wp mtn">
			<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
		</div>
		

		<!--{if empty($gid) && ($_G['cache']['forumlinks'][0] || $_G['cache']['forumlinks'][1] || $_G['cache']['forumlinks'][2])}-->
		<div class="bp lk">
			<div id="category_lk" class="bm_c ptm">
				<!--{if $_G['cache']['forumlinks'][0]}-->
					<ul class="m mbn cl">$_G['cache']['forumlinks'][0]</ul>
				<!--{/if}-->
				<!--{if $_G['cache']['forumlinks'][1]}-->
					<div class="mbn cl">
						$_G['cache']['forumlinks'][1]
					</div>
				<!--{/if}-->
				<!--{if $_G['cache']['forumlinks'][2]}-->
					<ul class="x mbm cl">
						$_G['cache']['forumlinks'][2]
					</ul>
				<!--{/if}-->
			</div>
		</div>
		<!--{/if}-->

		<!--{hook/index_bottom}-->


    </div>

	
</div>

<script>
jQuery(".ceo_rep_hot").slide( { mainCell:".ceo_rep_hotboxs ul",autoPage:true,effect:"topLoop",autoPlay:true,vis:4,easing:"easeOutCirc"});

jQuery(".slideBox").slide({titCell:".slidebar li",mainCell:".slideshow",effect:"left",autoPlay:true});
jQuery(".slideshow li").hover(function(){
jQuery(".slideshow li").find("h3").slideDown();
}, function(){jQuery(".slideshow li").find("h3").slideUp();});

</script>

</div>
<!--{if $_G['group']['radminid'] == 1}-->
	<!--{eval helper_manyou::checkupdate();}-->
<!--{/if}-->
<!--{if empty($_G['setting']['disfixednv_forumindex']) }--><script>fixed_top_nv();</script><!--{/if}-->
<!--{template common/footer}-->
