<ul class="Satin_list" id="alist">
        <!--{eval $i = 0;}-->
        <!--{loop $toutiaolist2 $thread}-->
            <!--{eval $i++;}-->
            <li>
                <p><a  href="home.php?mod=auther&uid=$thread[authorid]"><img src="uc_server/avatar.php?uid={$thread[authorid]}&size=middle">{$thread[author]}</a></p>
            	<p><a href="forum.php?mod=viewthread&tid=$thread[tid]">{$thread[message]}</a></p>
                <div class="Satin_function" ><a href="javascript:;" class="praise $thread[zanguo]" onClick="forumzan($thread[tid],1,this)">{$thread[ding]}</a><a href="javascript:;" class="despise $thread[bishiguo]"  onClick="forumzan($thread[tid],2,this)">{$thread[bishi]}</a>
                	<div class="Satin_r"><a href="forum.php?mod=viewthread&tid=$thread[tid]" class="evaluate"><!--{if $thread[replies] > 0}-->{$thread[replies]}<!--{else}-->0<!--{/if}-->评价</a><a href="javascript:;" onclick="collection_arc($thread[tid],this)"  id="k_favorite" class="collection $thread[shoucang]">收藏（<font>$thread[favtimes]</font>）</a>
                        <div href="#" class="share" data-id="$thread[tid]">分享（<font>$thread[sharetimes]</font>）
                        	<div class="share_main">
                            	<div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1472236211114" ><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a></div>
                                </div>
                        </div>
                    </div>
                </div>
            </li>
        <!--{/loop}-->
</ul>
