<!--{template common/header}-->
<style id="diy_style" type="text/css">#frameeRf6e1 {  border:0px none !important;}#framek2ljd9 {  border:0px none !important;}#framem74x4B {  border:0px none !important;}#frameWj3357 {  border:0px none !important;}#framerMohOE {  border:0px none !important;}#framelv7vQV {  border:0px none !important;}#frameN80Ye5 {  border:0px none !important;}</style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"><div id="framek2ljd9" class="cl_frame_bm frame move-span cl frame-1"><div id="framek2ljd9_left" class="column frame-1-c"><div id="framek2ljd9_left_temp" class="move-span temp"></div><!--{block/47}--></div></div></div><!--[/diy]-->
</div>

<!--{template common/footer}-->
