<div class="tbn">
	<h2 class="mt bbda">{lang setup}</h2>
	<ul>
		<li $opactives['ac']><a href="home.php?mod=spacecp&ac=avatar" <!--{if $_GET[ac]=='avatar'}-->class="on"<!--{/if}-->>{lang memcp_avatar}</a></li>
		
		<!--{if $_G['setting']['verify']['enabled'] && allowverify() || $_G['setting']['my_app_status'] && $_G['setting']['videophoto']}-->
		<li$actives[verify]><a href="{if $_G['setting']['verify']['enabled']}home.php?mod=spacecp&ac=profile&op=verify{else}home.php?mod=spacecp&ac=videophoto{/if}" <!--{if $_GET[ac]=='videophoto'}-->class="on"<!--{/if}-->>{lang memcp_verify}123</a></li>
		<!--{/if}-->
		<li $opactives['ac']><a href="home.php?mod=spacecp&ac=credit" <!--{if $_GET[ac]=='credit'}-->class="on"<!--{/if}-->>{lang memcp_credit}</a></li>
		
		
		
		

	
	</ul>
</div>