
<!--{subtemplate common/header_common}-->


<link rel="Shortcut Icon" href="/public/images/favicon.ico">
<link rel="Bookmark" href="/public/images/favicon.ico">
<link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/public/images/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/public/images/apple-touch-icon-114x114.png" />
<link href="/public/css/Public_index.css" rel="stylesheet" type="text/css">
<link href="/public/css/usercenter.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/public/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript"> var jq=jQuery.noConflict();</script>
<script type="text/javascript" src="/public/js/jquery-2.1.1.js"></script>

<script type="text/javascript" src="/public/js/jquery.lazyload.js"></script>
<style>
	.appl{ width:200px; padding:0; background:#fff}
	
	.appl .tbn .bbda{ padding:0;height: 57px;
    line-height: 57px;
    text-indent: 30px;
    color: #666;
    font-size: 16px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 10px;
    color: #333;}
	.wp{ margin-top:20px}
	.appl .tbn li{ border:0} 
	.appl .tbn li.a{ padding:0} 
	.appl .tbn li.a a{color: #000;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    padding: 5px 10px;
    line-height: 30px; display:initial; margin-left:30px}
	.appl .tbn li.a a.on{background: #f2f2f2;}
	.ct2_a{ background:none}
	.ct2_a .mn{ background:#fff}
</style>
</head>

<body>

<!--frame_top-->
<div id="append_parent"></div><div id="ajaxwaitid"></div>
<div class="frame_top" <!--{if $_GET[isadmin]==1}-->style="display:none"<!--{/if}-->>
	
    	<div class="left">
        	<iframe width="550" class="weather" scrolling="no" height="20" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=1&color=%23FFFFFF&icon=1&py=weihai&wind=1&num=2"></iframe>
        </div>
        <div class="right"><a class="app" href="javascript:;">APP下载<div class="app_QR_code"><img src="/public/images/QR_code.jpg"><p>手机扫码下载APP</p></div></a><span>|</span>
        
       <!--{template common/header_userstatus}--> 
        
        
        </div>
        
   
</div>
<!--frame_top END-->

		<div class="useercenter_navbar font_yahei">
			<div class="useercenter_navbarbox public_width">
				<div class="useercenter_navbar_l">
					<div class="userheadpic"><!--{avatar($_G[uid])}--></div>
					<div class="userinformation">
						<h2>{$_G[member][username]}</h2>
						
						<p>上次登录：$_G[member][lastvisit]</p>
					</div>
				</div>
				<div class="useercenter_navbar_r">
					<ul>
						<li><a href="/">首页</a></li>
						<li><a href="forum.php">论坛</a></li>
						<li><a href="portal.php?mod=feedback">反馈</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="useercenter_menu font_yahei">
	<div class="useercenter_menubox">
		<ul>
        	<li>
				<a <!--{if $_GET[do]=="notice"||$_GET[do]=="pm"}-->class="on"<!--{/if}--> href="home.php?mod=space&do=pm">消息(<i>$newpmcount</i>)</a>
			<li>
				<a <!--{if $action=="collection"}-->class="on"<!--{/if}--> href="home.php?mod=collection">收藏(<i>$allcount</i>)</a>
			</li>
			<li>
				<a <!--{if $action=="dingyue"}-->class="on"<!--{/if}--> href="home.php?mod=dingyue">订阅(<i>$dycount</i>)</a>
			</li>
            <li>
				<a <!--{if $_GET[mod]=="guide"}-->class="on"<!--{/if}--> href="forum.php?mod=guide&view=my">帖子(<i>$tiezicount</i>)</a>
			</li>
            <li>
				<a <!--{if $_GET[ac]=="avatar"||$_GET[ac]=="credit"}-->class="on"<!--{/if}--> href="home.php?mod=spacecp&amp;ac=avatar">设置</a>
			</li>
		</ul>
	</div>
</div>