<!--{if $_G['uid']}-->

<div id="um" class="y">
	<div onmouseover="showMenu({'ctrlid':'umLogin'});" class="showmenu umLogin" id="umLogin" initialized="true">
		<a class="av" href="home.php?mod=collection"><!--{avatar($_G[uid],small)}--></a>
		<a class="av_name" href="home.php?mod=collection">{$_G[member][username]}</a>
		<i class="arrow-w"></i>
</div>
	<div id="umLogin_menu" class="p_pop" style="display:none;">
		<img class="login_nrrow" src="{$_G['style']['styleimgdir']}header_login_ico.png" alt="" />
	
		<div class="um_op">
        <a href="home.php?mod=space&do=pm" id="pm_ntc">{lang pm_center}(<i>$newpmcount</i>)</a>
         <a href="home.php?mod=collection">收藏(<i>$allcount</i>)</a>	
         <a href="home.php?mod=dingyue">订阅(<i>$dycount</i>)</a>	
         <a href="forum.php?mod=guide&view=my">{lang mypost}(<i>$tiezicount</i>)</a>
         
		<a href="home.php?mod=spacecp&ac=avatar">设置</a>
		
		
		
        
       
        <!--{hook/global_myitem_extra}-->
		
		
		
		<!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->
			<a href="portal.php?mod=portalcp"><!--{if $_G['setting']['portalstatus'] }-->{lang portal_manage}<!--{else}-->{lang portal_block_manage}<!--{/if}--></a>
		<!--{/if}-->
		<!--{if $_G['uid'] && $_G['group']['radminid'] > 1}-->
			<a href="forum.php?mod=modcp&fid=$_G[fid]" target="_blank">{lang forum_manager}</a>
		<!--{/if}-->
		<!--{if $_G['uid'] && getstatus($_G['member']['allowadmincp'], 1)}-->
			<a href="admin.php" target="_blank">{lang admincp}</a>
		<!--{/if}-->
      
		<a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
		</div>
	</div>
</div>
<!--{elseif !empty($_G['cookie']['loginuser'])}-->
<p>
	<strong><a id="loginuser" class="noborder"><!--{echo dhtmlspecialchars($_G['cookie']['loginuser'])}--></a></strong>
	<a href="javascript:;" onclick="showWindow('login', this.href)">{lang activation}</a>
	<a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
</p>
<!--{elseif !$_G[connectguest]}-->
<div class="no_login y">
	<a href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href)">{lang login}</a>
</div>

<!--{else}-->
<div id="um" class="y">
	<div onmouseover="showMenu({'ctrlid':'umLogin'});" class="showmenu umLogin" id="umLogin" initialized="true">
		<span class="av"><!--{avatar(0,small)}--></span>
		<strong class="vwmy qq">{$_G[member][username]}</strong>
		<i class="arrow-w"></i>
	</div>
	<div id="umLogin_menu" class="p_pop" style="display:none;">
		<img class="login_nrrow" src="{$_G['style']['styleimgdir']}header_login_ico.png" alt="" />
		<div class="cl um_info">
			<a class="avt"><!--{avatar(0,big)}--></a>
		</div>
		<div class="um_op">
			<!--{hook/global_usernav_extra1}-->
			<a href="home.php?mod=spacecp&ac=credit&showcredit=1">{lang credits}: 0</a>
			<a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
			<div class="qq_login" style="color:#666;">{lang usergroup}: $_G[group][grouptitle]</div>
		</div>
	</div>
</div>
<!--{/if}-->